<li data-key="deletePad">
    <a id="deletePadButton" title="Delete this pad">
        <span style="color:#333; height: 100%; font-size:1.25em; margin: auto 0.15em;">Delete</span>
    </a>
</li>
<li class="separator"></li>